@use '../../style/variables';

.details {
    background-image: url('../../assets/img/backgrounds/bg-card.png');
    padding: 30px;
    // max-width: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    color: variables.$text-main;
    height: auto;
    border: 1px solid variables.$border-color;
    border-radius: 8px;
    box-shadow: 0 4px 10px variables.$shadow-color;

    &__title-wrapper {
        position: relative;

        p {
            text-align: center;
            margin: 5px 0 12px 0;
        }
    }

    &__title {
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.4;
        color: variables.$text-main;
        font-weight: 500;
        color: variables.$text-main;
        font-style: italic;
    }

    &__title--name {
        color: variables.$text-gold;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    
    strong {
        font-size: 1.2rem;
        color: variables.$text-gold;
    }
    
    &__image {
        width: 437px;
        height: 437px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #000;
        box-shadow: 0 4px 80px rgba(0,0,0,0.6);
        transition: border-color 0.3s ease, filter 0.3s ease;
        margin-bottom: 10px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 
            inset 0 4px 10px rgba(0, 0, 0, 0.8),
            inset 0 -1px 3px rgba(255, 255, 255, 0.2),
            0 1px 2px rgba(255, 255, 255, 0.1);
        
        transition: border-color 0.3s ease, filter 0.3s ease;
    }

    &__character-general-info {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        text-align: center;
        // font-size: 1.1rem;
    }

    &__character-info {
        height: 300px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    &__stats-items {
        color: variables.$text-main;
        list-style: none;
    }

    &__bio {
        font-size: 1.2rem;
    }

    &__stats-item {
        span {
            color: variables.$color-gold-light;
        }
    }
}