@use '../../style/variables';

.details {
    width: 550px;
    min-height: 1100px;
    perspective: 1000px;

    &__inner {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &.is-flipped &__inner {
        transform: rotateY(180deg);
    }

    &__front, &__back {
        // стилі для обох сторін
        width: 550px;
        min-height: 1150px;
        border: 1px solid variables.$border-color;
        border-radius: 8px;
        background-image: url('../../assets/img/backgrounds/bg-card.png');
        padding: 30px;
        box-shadow: 0 4px 10px variables.$shadow-color;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .button {
        margin-top: auto;
    }

    &__back {
        transform: rotateY(180deg);
        min-height: 1150px;
    }

    &__title-wrapper {
        position: relative;

        p {
            text-align: center;
            margin: 5px 0 12px 0;
        }
    }

    &__title {
        text-align: center;
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.4;
        color: variables.$text-main;
        font-weight: 500;
        color: variables.$text-main;
        font-style: italic;
    }

    &__title--name {
        color: variables.$text-gold;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    
    strong {
        font-size: 1.2rem;
        color: variables.$text-gold;
    }
    
    &__image {
        width: 437px;
        height: 437px;
        margin: 0 auto;
        object-fit: cover;
        border-radius: 8px;
        border: 2px solid #000;
        box-shadow: 0 4px 80px rgba(0,0,0,0.6);
        transition: border-color 0.3s ease, filter 0.3s ease;
        margin-bottom: 10px;
        border: 2px solid rgba(0, 0, 0, 0.2);
        box-shadow: 
            inset 0 4px 10px rgba(0, 0, 0, 0.8),
            inset 0 -1px 3px rgba(255, 255, 255, 0.2),
            0 1px 2px rgba(255, 255, 255, 0.1);
        
        transition: border-color 0.3s ease, filter 0.3s ease;
    }

    &__character-general-info {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        text-align: center;
    }

    &__character-info {
        height: 300px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    &__stats-items {
        color: variables.$text-main;
        list-style: none;
    }

    &__character-info-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
        font-size: 1.2rem;
    }

    &__bio {
        font-size: 1.4rem;
    }

    &__stats-item {
        position: relative;
        cursor: help;
        
        span {
            color: variables.$color-gold-light;
        }
    }

    .button-secondary {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}