@use '../../style/variables';

.scenario-card {
    background-image: url('../../../src/assets/img/backgrounds/bg-card.png');
    transition: all 0.3s ease-in-out;
    border: 1px solid variables.$border-color;
    box-shadow: 0 4px 10px variables.$shadow-color;
    border-radius: 8px;
    padding: 30px;
    height: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__scenario {
        display: flex;
        flex-direction: column;
    }

    &__name {
        text-align: center;
        color: variables.$text-gold;
        font-family: "Cinzel", serif;
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    &__avatar {
        width: 800px;
        height: 500px;
        border: 2px solid #000;
        box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.6);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    &__info {
        width: 800px;
        padding: 0 30px;
        font-size: 1.3rem;
    }
}

.scenario-card--active {
    background-image: linear-gradient(rgba(255, 255, 255, 0.052), rgba(255, 255, 255, 0.085)), url('../../assets/img/backgrounds/bg-card.png');
    border-color: variables.$text-gold;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(197, 160, 89, 0.4);
    cursor: default;

    img {
        filter: brightness(1.1);
        border-color: variables.$text-gold;
    }
}