@use '../../style/variables';

    .button {
        width: 300px;
        height: 54px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 12px 32px;
        background-image: url('../../assets/img/backgrounds/button-stone.png');
        background-size: cover;
        border: 1px solid variables.$color-gold-dark;
        font-family: 'Cinzel', serif; 
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: variables.$color-gold-light;
        text-shadow: variables.$text-shadow;
        border-radius: 4px;
        box-shadow: 
            inset 0 0 0 1px rgba(0, 0, 0, 0.5), // Внутрішня рамка
            inset 0 0 20px rgba(0, 0, 0, 0.8),  // Внутрішнє затемнення (глибина)
            0 4px 6px rgba(0, 0, 0, 0.5);       // Зовнішня тінь
            
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        overflow: hidden;

            &:hover {
                color: #fff;
                border-color: variables.$color-gold-light;
                box-shadow: 
                inset 0 0 0 1px rgba(212, 196, 149, 0.3),
                inset 0 0 10px rgba(0, 0, 0, 0.5),
                0 0 15px rgba(212, 196, 149, 0.2); // Золоте світіння навколо
                
                transform: translateY(-1px); // Легкий підйом
            }
    }

    // --- Варіант: Другорядна кнопка (Сіра/Залізна) ---
    // Використання: <Button className="rpg-button secondary" ... />
    //     .rpg-button.secondary {
    //     border-color: variables.$color-iron-dark;
    //     color: variables.$color-iron-light;
    //     background: linear-gradient(180deg, #3a3f44 0%, #242629 100%);

    //     &:hover {
    //         color: #fff;
    //         border-color: variables.$color-iron-light;
    //         box-shadow: 0 0 15px rgba(138, 143, 150, 0.2);
    //     }
        
    //     &:active {
    //         background: linear-gradient(180deg, #1a1b1d 0%, #2c2e33 100%);
    //     }
    // }