@use '../../style/variables';

.description {
    position: absolute;
    font-size: 1.5rem;
    top: 100%;
    left: 0;
    z-index: 10;
    background: variables.$dark-color;
    border: 1px solid variables.$text-gold;
    padding: 10px;
    width: 300px;
    pointer-events: none;
}