@use '../../style/variables';

.races-card {
    width: 95%;
    max-width: 1400px;
    padding: 40px 16px;
    margin: 0 auto;

    &__title {
        margin-bottom: 40px;
        font-family: "Cinzel", serif;
        font-size: 3rem;
        font-weight: 700;
        color: variables.$text-gold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    }

    &__wrapper {
        padding: 0;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 40px;
        list-style: none;
        padding: 0;
    }

    &__item {
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../../../src/assets/img/backgrounds/bg-card.png');
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: 1px solid variables.$border-color;
        box-shadow: 0 10px 20px variables.$shadow-color;
        border-radius: 12px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            border-color: variables.$text-gold;
        }

        img {
            width: 100%; // Тепер вона гумова
            max-width: 400px;
            height: 300px; // Обмежуємо висоту для карток
            object-fit: cover;
            border: 2px solid variables.$border-color;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
            margin: 20px auto;
            border-radius: 4px;
        }

        h4 {
            text-align: center;
            color: variables.$text-gold;
            font-family: "Cinzel", serif;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
    }

    &__info-wrapper {
        font-size: 1.1rem;
        line-height: 1.6;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: variables.$text-main;
        flex-grow: 1; // Вирівнює контент

        p {
            margin: 0;
        }

        strong {
            color: variables.$text-gold;
            font-size: 1.2rem;
            text-shadow: 1px 1px 2px black;
        }

        .subraces-list {
            background: rgba(0, 0, 0, 0.3);
            padding: 15px;
            border-radius: 8px;
            border-left: 3px solid variables.$text-gold-second;
            margin-top: 10px;

            ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            li {
                font-size: 1rem;
                font-style: italic;
            }
        }
    }
}