$bg-main: #121212;
$text-main: #eaeaea;
$accent: #7f5af0;
$bg-cards: rgb(105, 81, 36);
$bg-cards: #1a1e24;
$text-main: #e0e0e0;
$text-gold: #c5a059;
$border-color: #383c4a;
$shadow-color: rgba(0, 0, 0, 0.7);
$dark-color: #1a1a1a;
$bg-dark-color: rgba(0, 0, 0, 0.4);

$color-gold-dark: #8c7b50;
$color-gold-light: #d4c495;
$color-gold-glow: #ffeaadd3;
$color-iron-dark: #4a4e52;
$color-iron-light: #8a8f96;
$text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);