@use '../style/variables';

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a; 
    color: variables.$text-main;

    &__main {
        display: flex;
        width: auto;

        // flex: 1;
        padding: 50px;
        gap: 40px;
        justify-content: center;
        align-items: flex-start;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover {
        transform: scale(1.1);
        color: variables.$text-gold;
    }
}

ul {
    list-style: none;
}

.app__main {

    @include variables.devices(variables.$tablet) {
        padding: 0;
        flex-direction: row;
        // align-items: center;
        // justify-content: center;
        margin: 0 auto;
    }
}