@use '../../style/variables';

.scenarios-page {
    width: 90%;
    height: 100%;
    padding: 24px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__view-header {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
    }

    strong {
        color: variables.$text-gold;
        font-size: 1.6rem;
    }

    &__title {
        margin: 0 0 20px 0;
        font-family: "Cinzel", serif;
        font-size: 3rem;
        font-weight: 700;
        color: variables.$text-gold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    }

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    &__wrapper--details {
        width: 100%;
        height: auto;
    }

    .button-secondary--hide-button {
        display: none;
    }

    .button-secondary {
        color: variables.$text-gold;
        width: 120px;
        height: 40px;
    }
}

@media (max-width: variables.$mobile-big) {
    .scenarios-page {
        align-items: center;
        text-align: center;

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}