@use '../../style/variables';

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    flex: 1;
}

.details-panel {
    position: sticky;
    top: 40px;
    width: 550px;
    display: flex;
    flex-direction: column;
}

.details-panel {
    @include variables.devices(variables.$tablet) {
        width: 100%;
        position: static;
    }
}